body{
    background-color : #E5F295;
}
.introContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.introContainer label{
    font-size: 28px;
    display: block;
    margin: 20px auto;
}
.introContainer input{
    display: block;
    margin: 20px auto;
    height: 30px;
    font-size: 25px;
    text-align: center;
}
.introContainer button{
    display: block;
    margin: 20px auto;
    font-size: 25px;
    height: 50px;
    color: rgb(11, 12, 11);
    background-color: rgb(49, 180, 66);
    border : none;
    border-radius: 22px;
    width: 150px;
    cursor: pointer;
}

.link{
    position: absolute;
    bottom: 3%;
    left: 47%;
    border-radius: 25px;
    background-color: rgb(214, 204, 59) ;
    text-align: center;
    padding: 10px 20px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.arrayContainer{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.newArrayChild{
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    background-color: chartreuse;
    text-align: center;
    line-height: 2.5;
    margin: 0 5px;
}

.lastContainer{
    visibility: hidden;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-60%);
}
.lastContainer label{
    font-size: 36px;
    display: block;
    margin: 20px auto;
}
.lastContainer input{
    display: block;
    margin: 20px auto;
    height: 30px;
    font-size: 25px;
    text-align: center;
}
.lastContainer button{
    display: block;
    margin: 20px auto;
    font-size: 25px;
    height: 50px;
    color: rgb(11, 12, 11);
    background-color: rgb(49, 180, 66);
    border : none;
    border-radius: 22px;
    width: 150px;
    cursor: pointer;
}
#infoContainer{
    visibility: hidden;
    font-size: 22px;
    letter-spacing: 5px;
    line-height: 2;
    padding: 10px 40px;
}
#successMessage{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-60%);
    visibility: hidden;
    font-size: 32px;
    letter-spacing: 5px;
    line-height: 2;
    padding: 10px 40px;
}

.found{
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    background-color: rgb(255, 38, 0);
    text-align: center;
    line-height: 2.5;
    margin: 0 5px;
}
.comparing{
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    background-color: rgb(47, 0, 255);
    text-align: center;
    line-height: 2.5;
    margin: 0 5px;
}
.endpoints{
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    background-color: rgb(34, 151, 34);
    text-align: center;
    line-height: 2.5;
    margin: 0 5px;
}